.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

.defaultBackground {
    background: var(--background);
}

.homeBackground {
    background: #2b2b2b;
}

.layoutMain {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrapper {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}
